html,
body {
  background-color: #f7f4f1;
}
.box {
  width: 100%;
}
.box header {
  width: 100%;
}
.box header img {
  width: 100%;
}
.box .content {
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
}
.box .content .content1 {
  width: 100%;
}
.box .content .content1 .card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.box .content .content1 .card h4 {
  font-size: 0.875rem;
}
.box .content .content1 .card p {
  font-size: 0.875rem;
  color: #888888;
}
.box .content .content1 .card-box {
  width: 100%;
  height: 9.8125rem;
  margin-top: 0.6875rem;
  box-sizing: border-box;
}
.box .content .content1 .card-box .top {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 7.28125rem;
  background: #55bc75 url(../images/icon.png) repeat-x bottom;
  border-radius: 10px 10px 0 0;
}
.box .content .content1 .card-box .top img {
  position: absolute;
  top: -1.03125rem;
  right: -0.25rem;
  width: 4.5625rem;
  height: 4.5625rem;
}
.box .content .content1 .card-box .top h3 {
  position: absolute;
  left: 0.625rem;
  top: 0.625rem;
  font-size: 1.4375rem;
}
.box .content .content1 .card-box .top p {
  position: absolute;
  left: 0.625rem;
  top: 2.8125rem;
  font-size: 0.75rem;
}
.box .content .content1 .card-box .top .time {
  position: absolute;
  left: 0.625rem;
  bottom: 0.9375rem;
  font-size: 0.6875rem;
}
.box .content .content1 .card-box .top .start {
  position: absolute;
  right: 0.78125rem;
  bottom: 0.9375rem;
  width: 3.125rem;
  height: 1.03125rem;
  line-height: 1.03125rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 0.65625rem;
}
.box .content .content1 .card-box .bottom {
  position: relative;
  display: flex;
  width: 100%;
  height: 2.21875rem;
  line-height: 2.21875rem;
  background-color: #fff;
  text-align: center;
  border-radius: 0 0 10px 10px;
}
.box .content .content1 .card-box .bottom a {
  flex: 1;
  font-size: 0.8125rem;
}
.box .content .content1 .card-box .bottom .line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.09375rem;
  height: 1.4375rem;
  background-color: #e8e2d9;
}
.box .content .content2 {
  width: 100%;
}
.box .content .content2 .card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.box .content .content2 .card h4 {
  font-size: 0.875rem;
}
.box .content .content2 .card p {
  font-size: 0.875rem;
  color: #888888;
}
.box .content .content2 .card-box {
  width: 100%;
  height: 7.28125rem;
  margin-top: 0.6875rem;
  box-sizing: border-box;
}
.box .content .content2 .card-box .top {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 7.28125rem;
  background: #a974bc;
  border-radius: 10px 10px 10px 10px;
}
.box .content .content2 .card-box .top img {
  position: absolute;
  top: -1.03125rem;
  right: -0.25rem;
  width: 4.5625rem;
  height: 4.5625rem;
}
.box .content .content2 .card-box .top .price {
  position: absolute;
  left: 0.78125rem;
  top: 0.15625rem;
  font-size: 0.71875rem;
  color: #fff;
}
.box .content .content2 .card-box .top .price small {
  font-size: 1.25rem;
}
.box .content .content2 .card-box .top .price span {
  font-size: 2.8125rem;
}
.box .content .content2 .card-box .top .number {
  position: absolute;
  left: 1.09375rem;
  bottom: 1.875rem;
  font-size: 0.6875rem;
  color: #fff;
}
.box .content .content2 .card-box .top .time {
  position: absolute;
  left: 1.25rem;
  bottom: 0.78125rem;
  font-size: 0.6875rem;
  color: #fff;
}
.box .content .content2 .card-box .top .start {
  position: absolute;
  right: 0.9375rem;
  bottom: 1.09375rem;
  width: 3.125rem;
  height: 1.03125rem;
  line-height: 1.03125rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 0.6875rem;
  color: #fff;
}
.box .content .content2 .card-box2 {
  margin-top: 0.90625rem;
  box-sizing: border-box;
}
.box .content .content2 .card-box2 .top {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 7.28125rem;
  background: #a974bc url(../images/icon.png) repeat-x bottom;
  border-radius: 10px 10px 0 0;
}
.box .content .content2 .card-box2 .top img {
  position: absolute;
  top: -1.03125rem;
  right: -0.25rem;
  width: 4.5625rem;
  height: 4.5625rem;
}
.box .content .content2 .card-box2 .top .price {
  position: absolute;
  left: 0.78125rem;
  top: 0.15625rem;
  font-size: 0.71875rem;
  color: #fff;
}
.box .content .content2 .card-box2 .top .price small {
  font-size: 1.25rem;
}
.box .content .content2 .card-box2 .top .price span {
  font-size: 2.8125rem;
}
.box .content .content2 .card-box2 .top .number {
  position: absolute;
  left: 1.09375rem;
  bottom: 1.875rem;
  font-size: 0.6875rem;
  color: #fff;
}
.box .content .content2 .card-box2 .top .time {
  position: absolute;
  left: 1.25rem;
  bottom: 0.78125rem;
  font-size: 0.6875rem;
  color: #fff;
}
.box .content .content2 .card-box2 .top .start {
  position: absolute;
  right: 0.9375rem;
  bottom: 1.09375rem;
  width: 3.125rem;
  height: 1.03125rem;
  line-height: 1.03125rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 0.6875rem;
  color: #fff;
}
.box .content .content2 .card-box2 .bottom {
  position: relative;
  display: flex;
  width: 100%;
  height: 2.21875rem;
  line-height: 2.21875rem;
  background-color: #fff;
  text-align: center;
  border-radius: 0 0 10px 10px;
}
.box .content .content2 .card-box2 .bottom a {
  flex: 1;
  font-size: 0.8125rem;
}
.box .content .content2 .card-box2 .bottom .line {
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
  width: 0.09375rem;
  height: 1.4375rem;
  background-color: #e8e2d9;
}
.box .content .content2 .card-box2 .bottom .line2 {
  position: absolute;
  top: 50%;
  left: 66%;
  transform: translate(-50%, -50%);
  width: 0.09375rem;
  height: 1.4375rem;
  background-color: #e8e2d9;
}
.box .content .content2 .card-box3 {
  width: 100%;
  height: 7rem;
  box-sizing: border-box;
  border: 0.0625rem dashed #dedede;
  background-color: #fff;
  margin-top: 0.84375rem;
  text-align: center;
  padding-top: 1.3125rem;
}
.box .content .content2 .card-box3 .icon-add {
  font-size: 3.0625rem;
}
.box .content .content2 .card-box3 p {
  margin-top: 0.59375rem;
  font-size: 0.875rem;
}
.box .content .content2 .footer {
  width: 100%;
  height: 3.21875rem;
  box-sizing: border-box;
  margin-top: 1.875rem;
}
.box .content .content2 .footer p {
  font-size: 0.75rem;
  line-height: 2.1875rem;
}
